:root {
	--white-color: #f2f4f3;
	--button-primary-color: rgb(248, 164, 7);
	--button-primary-hover: #da971bf5;
	--button-primary-active: #cc8a10e3;
	--navbar-button-hover: #f2f4f325;
	--navbar-button-active: #f2f4f346;
	--text-header-color: #183642;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.active-focus:focus {
	outline: none !important;
	box-shadow: none !important;
}
.active-focus:active {
	outline: none !important;
	box-shadow: none !important;
}

body {
	height: 100vh;
	width: 100vw;
	background-image: url("https://images.unsplash.com/photo-1634334181759-a965220b6a91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1598&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--text-header-color) !important;
	padding: 5px;
	height: 50px;
}
.navbar-brand {
	margin: 0 0 0 10px;
}

.btn-link {
	text-decoration: none !important;
	color: var(--white-color) !important;
	width: 110px;
	color: #f2f4f3 !important;
}

.btn-link:hover {
	text-decoration: none !important;
	/* background-color: var(--navbar-button-hover); */
	color: #f2f4f3be !important ;
	transition: 0.2s;
}

.btn-link:active {
	outline: none !important;
	/* background-color: var(--navbar-button-active); */
}

.btn-link:focus {
	outline: none !important;
	box-shadow: none !important;
}

.sign-up {
	border: 1px solid var(--navbar-button-active) !important;
	background-color: var(--navbar-button-hover) !important;
	margin-right: 5px;
	margin-left: 5px;
}

.sign-up:hover {
	color: #f2f4f3 !important;
}

.sign-up:active {
	background-color: var(--navbar-button-active) !important;
	margin-right: 5px;
}

.btn-right {
	margin-left: auto !important;
}

.header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 70%;
	height: 90vh;
	font-size: 5rem;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	letter-spacing: 3px;
	color: var(--text-header-color);
}

.header-txt {
	letter-spacing: 2px;
	justify-self: center;
	align-self: center;
	width: 60%;
	font-size: 1.4rem !important;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: rgba(255, 255, 255, 0.856);
}

.button-container {
	width: 70%;
}
.button-header {
	width: 15% !important;
	background-color: var(--button-primary-color) !important;
	border: none !important;
	color: var(--text-header-color) !important;
	font-weight: bold;
	letter-spacing: 1px;
}

.button-header:hover {
	background-color: var(--button-primary-hover) !important;
	transition: 0.2s;
}
.button-header:active {
	background-color: var(--button-primary-active) !important;
}

.welcome-text Button {
	margin: 0 10px 0 10px;
}

.search-bar {
	width: 20vw;
}

.button-create-new {
	width: 10% !important;
	border: none !important;
	background-color: var(--button-primary-color) !important;
	color: var(--text-header-color) !important;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.button-create-new:hover {
	background-color: var(--button-primary-hover) !important;
	transition: 0.2s;
}
.button-create-new:active {
	background-color: var(--button-primary-active) !important;
	transition: 0.2s;
}

.container-list {
	margin: 0 !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center !important;
	justify-content: center !important;
	margin: 50px;
	width: 100%;
}

.cards-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.card-header {
	height: 200px;
	margin: 10px;
}

.card-container {
	margin: 20px;
	border-radius: 20px !important;
	overflow: hidden;
	transition: 0.3s;
	animation: ease-in-out;
}

.card-container:hover {
	transform: scale(1.1);
	-webkit-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.6);
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.image-container {
	overflow: hidden;
	height: 200px;
	width: 100px;
}

.my-font {
	text-align: center;
	/* font-family: "Courier New"; */
	font-weight: bold;
	margin: auto;
	color: rgb(40, 49, 54);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.jam3ya-detail-container {
	width: 30vw !important;
	height: 50vh !important;
	max-height: 50vh !important;
	max-width: 30vw !important;
}
.image-fit {
	text-align: center;
	width: 50%;
}
.delete-leave-container {
	display: flex;
	justify-content: space-evenly !important;
}
.modal-header {
	background-color: var(--text-header-color);
	color: var(--white-color);
}
.footer-users {
	justify-content: center !important;
	margin: 15px;
}
.footer-buttons {
	/* margin-right: 5px;
  margin-left: 5px; */
	justify-content: center !important;
}

.detail-btn {
	width: 100%;
	align-self: center !important;
}
.join-btn {
	width: 100%;
	align-self: center !important;
}

.about-us {
	height: 60vh;
	width: 50vw;
	margin: 80px;
	font-size: 1.4rem;
	color: var(--text-header-color) !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.logo-header-about-us {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
