body {
	background-image: url("http://www.pngmagic.com/product_images/website-background-image-size-psd-vector-photo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100vw;
}

.header-text {
	font-size: 7rem;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	width: 40%;
	color: white;
}
.signin {
	position: absolute;
	left: 90%;
}

.welcome-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

.welcome-text p {
	margin: 0 10px 0 10px;
}

.card-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 30px 20px;
}

.card-header {
	height: 150px;
	margin-bottom: 10px;
}
